@font-face {
	font-family: 'quadrinhos';
	src: url(/fontes/CC\ Wild\ Words\ Roman.ttf) format(truetype);
	font-weight: 200;
	font-style: normal;
}
:root {
	--ff-primary: "Cairo", sans-serif;
	
	--clr-background: 	#F5F5F5;
	--clr-white: 		#F1FCDE;
	--clr-black: 		#090E01;
	--clr-light-green: 	#DEF8AF;
	--clr-medium-green: #88CC11;
	--clr-dark-green: 	#456809;
	
	--spacing: 0.25rem;
	--transition: all 0.2s linear;
	--dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.8);
}
html{
	font-size: 62.5%;/*10px*/
	/*
	1 rem => 16px;
	*/
}
body{
	font-family: var(--ff-primary);
	background: url(/imagens/hulkbg.jpg);
	background-attachment: fixed;

	
}
a{
	text-decoration: none;
}
p{
	font-size: 1.6rem;
	line-height: 1.8rem;
}

section{
	padding: 1.6rem;
}

img{
	margin: auto;
	max-width: 100%;
	height: auto;
	display: block;
}
.section__titulo{
	font-size: 4.8rem;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	text-align: center;
}



@media screen and (min-width:1020px){
	section{
       padding: 1.6rem calc((100% - 117rem - 1.6 rem) / 2);
	}
}

/*//////////// 
      Header 
//////////////*/
.navbar{
	position: fixed;
	background-color: rgb(15, 15, 15);
	width: 100%;
	padding: .3rem;
	box-shadow: var(--dark-shadow);
	z-index: 3;

}
.navbar-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-header__toggle{
	background: transparent;
	border: transparent;
	font-size: 3.2rem;
	color: red;
	cursor: pointer;
	transition: var(--transition);
}
.navbar-header__toggle:hover{
	transform: scale(1.2);
}
.navbar-list{
    list-style: none;
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}
.navbar-list--show-links{
	height: 20rem;
}
.navbar-list__link{
	display: block;
	font-size: 1.6rem;
	font-weight: 900;
	padding: 1.6rem;
	text-transform: capitalize;
	color: rgb(221, 216, 216);
	transition: var(--transition);
}
.navbar-list__link:hover{
	background: red;
	padding-left: 3.4rem;
}

@media  screen and (min-width: 768px){
	.navbar-header__toggle{
		display: none;
	}
	.navbar-list{
		height: auto;
		display: flex;
		padding-left: 9.8rem;
	}
	.navbar{
		display: flex;
		align-items: center;
		padding: .8rem 1.6rem;
	}
	.navbar-list__link:hover{
		background: none;
		padding-left: 1.6rem;
		color: red;
	}
	
}
@media screen and (min-width: 1020px){
	.navbar{
		padding: .8rem calc((100% - 117rem - 1.6rem) / 2);
	}
}
/*//////////// 
      Hero
//////////////*/
.hero{
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	/*
	1vh = 1% da viewport(area visivel pelo usuario)
	*/
}
.hero-video{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;

}

.hero-texto{
	padding: 1.6rem;
    background-color: rgba(0, 0, 0, 0.829);
}
.hero-texto__titulo {
	font-size: 5.2rem;
	font-weight: 900;
	color: rgb(170, 15, 15);
	text-transform: uppercase;
}

@media screen and (min-width: 768px){
	.hero-texto__titulo{
		font-size: 7.2rem;
	}
	.hero-texto__titulo--linha-2{
		font-size: 6.4rem;
	}
	
}
@media screen and (min-width: 1020px){
	.hero-texto{
		padding: 1.6rem calc((100% - 117rem - 1.6rem) / 2);
		/*
		100% -> 1920px
		1920px - 1170px = 750px
		750px / 2 = 375px
		*/
	}
}
/*////
Sobre
///////*/
#principal{
	max-width: 98rem;
	font-family: 'quadrinhos';
	box-shadow: var(--dark-shadow);
	margin: auto;
	background-color: rgb(235, 225, 225);
	
}
#sobre, #compras{
    align-items: center;
    margin: auto;
	padding: 2.8rem;
}
.titulo{
    font-size: 3.8rem;
	min-width: 15rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	color: rgb(175, 8, 8);
	background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(245, 12, 12, 0.582));
	margin-bottom: 1.6rem;
}
.sobre-texto, .compras-texto{
 margin: 15px 0px 15px 0px;
  text-align: justify;
  text-indent: 3rem;
  line-height: 2em;
  font-size: 1.9rem;
}
.livros{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1.2rem;
	background-color: rgb(201, 64, 54);
}
	footer{
		background-color: rgba(245, 12, 12, 0.932);
		text-align: center;
		padding: .6rem;
		font-family: 'quadrinhos';
		max-width: 100%;
		margin: auto;
	  }
	  footer > p{
		  font-size: 2.4rem;
		  line-height: 2em;
		  padding-bottom: 1.2rem;
		  font-weight: 700;
          
	  }
	  footer a{
		color: white;
		font-weight: bold;
		text-decoration: none;
	  }
	  footer a:hover{
	  text-decoration: underline;
	  color: rgb(139, 187, 6);
	  }
	  

